@model ShoppingCart
@{
    ViewData["Title"] = "ViewCart";
}


<section class="centeredPanel">
<h2>Solar System Geek Gift Shop</h2>

<table>

<thead>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Price</th>
        <th>Qty.</th>
        <th>Total</th>
    </tr>

</thead>
<tbody>
    @foreach (ShoppingCartItem item in Model.Items)
    {
        <tr>
            <td><img src="~/images/@item.Product.ImageName" width="200" /></td>
            <td>@item.Product.Name</td>
            <td>@item.Product.Price.ToString("C")</td>
            <td>@item.Quantity</td>
            <td>@(item.Quantity * item.Product.Price)</td>


        </tr>
    }

<tr>
    <td></td>
    <td></td>
    <td></td>
    <td><strong>Grand Total</strong></td>
    <td>@Model.GrandTotal.ToString("C")</td>
</tr>

<tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><a href="#">Check out</a></td>
</tr>

</tbody>

</table>



    </section>

